<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cache_stories_videos</key>
	<true/>
	<key>cache_audio</key>
	<true/>
	<key>cache_user_remakes_videos</key>
	<true/>
	<key>cache_stories_videos_max_count</key>
	<integer>10</integer>
	<key>facebook_app_id</key>
	<string>447743458659084</string>
	<key>application</key>
	<string>homage_ios</string>
	<key>in_app_purchases</key>
	<false/>
	<key>in_app_purchases_hide_premium_stories</key>
	<false/>
	<key>user_remakes_download_to_device</key>
	<true/>
	<key>campaign_id</key>
	<string>544ead1e454c610d1600000f</string>
	<key>mirror_selfie_silhouette</key>
	<false/>
	<key>share_link_prefix</key>
	<string>http://play-test.homage.it</string>
	<key>significant_view_pct_threshold</key>
	<real>0.5</real>
	<key>recorder_first_scene_context_message</key>
	<true/>
	<key>uploader_reports_uploads</key>
	<true/>
	<key>login_flow_type</key>
	<integer>0</integer>
	<key>login_flow_skip_intro_video</key>
	<false/>
	<key>login_guest_as_public</key>
	<false/>
</dict>
</plist>
