<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ios_mixpanel_token</key>
	<string>bab0997e7171d56daf35df751f523962</string>
	<key>ios_crashlytics_token</key>
	<string>daa34917843cd9e52b65a68cec43efac16fb680a</string>
	<key>remakes_per_page</key>
	<integer>16</integer>
	<key>share_link_prefix</key>
	<string>http://play-test.homage.it</string>
	<key>cache_stories_videos</key>
	<true/>
	<key>cache_audio</key>
	<true/>
	<key>cache_user_remakes_videos</key>
	<true/>
	<key>cache_stories_videos_max_count</key>
	<integer>10</integer>
	<key>facebook_app_id</key>
	<string>447743458659084</string>
	<key>application</key>
	<string>homage_ios</string>
	<key>in_app_purchases</key>
	<false/>
	<key>in_app_purchases_hide_premium_stories</key>
	<false/>
	<key>user_remakes_download_to_device</key>
	<true/>
	<key>campaign_id</key>
	<string>544ead1e454c610d1600000f</string>
	<key>mirror_selfie_silhouette</key>
	<false/>
	<key>significant_view_pct_threshold</key>
	<real>0.5</real>
	<key>recorder_first_scene_context_message</key>
	<true/>
	<key>uploader_reports_uploads</key>
	<true/>
	<key>login_flow_type</key>
	<integer>0</integer>
	<key>login_flow_skip_intro_video</key>
	<false/>
	<key>guest_public_as_default</key>
	<false/>
	<key>guest_allow_public</key>
	<false/>
	<key>guest_allow_share</key>
	<false/>
	<key>recorder_skip_are_you_sure_in_good_job_message</key>
	<false/>
	<key>user_save_remakes_policy</key>
	<integer>0</integer>
	<key>user_save_remakes_token</key>
	<string>save_token</string>
</dict>
</plist>
