<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>values</key>
	<dict>
		<key>styleClassSideBarNavigationButton</key>
		<dict>
			<key>fontResize</key>
			<integer>7</integer>
		</dict>
		<key>styleClassRecorderRecordCountDown</key>
		<dict>
			<key>fontResize</key>
			<integer>-18</integer>
			<key>strokeSize</key>
			<string>0</string>
		</dict>
		<key>styleClassNavigationTitle</key>
		<dict>
			<key>fontResize</key>
			<integer>5</integer>
		</dict>
		<key>styleClassBigTitle</key>
		<dict>
			<key>fontResize</key>
			<integer>7</integer>
		</dict>
		<key>styleClassStoreTitle</key>
		<dict>
			<key>fontResize</key>
			<integer>4</integer>
			<key>strokeSize</key>
			<string>0</string>
		</dict>
		<key>styleClassBigButtons</key>
		<dict>
			<key>fontResize</key>
			<integer>8</integer>
		</dict>
		<key>styleClassTextBanner</key>
		<dict>
			<key>fontResize</key>
			<integer>5</integer>
		</dict>
		<key>styleClassRenderingBar</key>
		<dict>
			<key>fontResize</key>
			<integer>7</integer>
		</dict>
		<key>styleClassSDDescriptionText</key>
		<dict>
			<key>fontResize</key>
			<integer>5</integer>
			<key>strokeSize</key>
			<integer>2</integer>
		</dict>
		<key>styleClassSideBarUserTitle</key>
		<dict>
			<key>strokeSize</key>
			<integer>0</integer>
		</dict>
		<key>styleClassRecorderDrawerCreateClipLabel</key>
		<dict>
			<key>fontResize</key>
			<integer>1</integer>
			<key>strokeSize</key>
			<string>0</string>
		</dict>
		<key>valueSplashActivityPosition</key>
		<integer>190</integer>
		<key>valueSplashActivityCirclesCount</key>
		<string>7</string>
		<key>valueSplashActivityCirclesRadius</key>
		<string>7</string>
		<key>valueStoreThumbsCornerRadius</key>
		<integer>6</integer>
		<key>valueRecorderButtonOutline</key>
		<integer>7</integer>
	</dict>
	<key>fonts</key>
	<dict>
		<key>fontRegular</key>
		<string>Jilkyway</string>
		<key>fontRegularDefaultStrokeSize</key>
		<integer>2</integer>
		<key>fontRegularDefaultStrokeColor</key>
		<string>@darkest</string>
		<key>fontBold</key>
		<string>Jilkyway</string>
		<key>fontBoldDefaultStrokeSize</key>
		<string>2</string>
		<key>fontBoldDefaultStrokeColor</key>
		<string>@darkest</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>downloading</key>
		<dict>
			<key>colorDownloadContainer</key>
			<string>@darker</string>
			<key>colorDownloadActivity</key>
			<string>@impact</string>
			<key>colorDownloadCancelButtonBG</key>
			<string>@darker</string>
			<key>colorDownloadCancelButtonX</key>
			<string>@bright</string>
			<key>colorDownloadCancelButtonBorder</key>
			<string>@bright</string>
			<key>colorDownloadTitle</key>
			<string>@impact</string>
		</dict>
		<key>misc</key>
		<dict>
			<key>colorVideoTitles</key>
			<string>@impact</string>
			<key>colorActivityControlTint</key>
			<string>@impact</string>
			<key>colorRefreshControlTint</key>
			<string>@impact</string>
		</dict>
		<key>recorder</key>
		<dict>
			<key>colorRecorderCloseButtonX</key>
			<string>@impact</string>
			<key>colorRecorderTutorialText</key>
			<string>@impact</string>
			<key>colorRecorderTutorialButton</key>
			<string>@impact</string>
			<key>colorRecorderRecordButton</key>
			<string>@record</string>
			<key>colorRecorderRecordButtonOutline</key>
			<string>@darker</string>
			<key>colorRecorderRecordButtonCountDownBG1</key>
			<string>@record</string>
			<key>colorRecorderRecordButtonCountDownBG2</key>
			<string>@veryDark</string>
			<key>colorRecorderImpactButtonBG</key>
			<string>@darker</string>
			<key>colorRecorderImpactButtonText</key>
			<string>@impact</string>
			<key>colorRecorderMessageTitle</key>
			<string>@bright</string>
			<key>colorRecorderMessageText</key>
			<string>@normalText</string>
			<key>colorRecorderMessageActionButton</key>
			<string>@impact</string>
			<key>colorRecorderRecordingProgressBar</key>
			<string>@impactSeeThrough</string>
			<key>colorRecorderVideoTitles</key>
			<string>@impact</string>
			<key>colorRecorderDrawerBG</key>
			<string>#ff000055</string>
			<key>colorRecorderDrawerSepLine</key>
			<string>@darkOverlay</string>
			<key>colorRecorderSceneInfoTitle</key>
			<string>@bright</string>
			<key>colorRecorderSceneInfoData</key>
			<string>@impact</string>
		</dict>
		<key>rendering bar</key>
		<dict>
			<key>colorRenderingBarBG</key>
			<string>@bright</string>
			<key>colorRenderingBarText</key>
			<string>@impact</string>
		</dict>
		<key>splash</key>
		<dict>
			<key>colorsArraySplashActivityIndicator</key>
			<array>
				<string>#6655D3</string>
				<string>#2693D5</string>
				<string>#FD7A29</string>
				<string>#ED1B72</string>
				<string>#1F9239</string>
				<string>#FEC92F</string>
				<string>#D81A27</string>
			</array>
			<key>colorSplashActivityIndicator</key>
			<string>@impact</string>
		</dict>
		<key>navigation and status bar</key>
		<dict>
			<key>colorStatusBarBG</key>
			<string>@darkest</string>
			<key>colorSideNavBarSeparator</key>
			<string>@bright</string>
			<key>colorSideNavBarOptionText</key>
			<string>@impact</string>
			<key>colorSideNavBarBG</key>
			<string>@veryDark</string>
			<key>colorSideNavBarLoginButton</key>
			<string>@normalText</string>
			<key>colorSideNavBarTopContainer</key>
			<string>@darker</string>
			<key>colorSideNavBarUser</key>
			<string>@impact</string>
			<key>colorNavBarTitle</key>
			<string>@impact</string>
			<key>colorNavBarSeparator</key>
			<string>@darker</string>
			<key>colorNavBarBackground</key>
			<string>@darker</string>
		</dict>
		<key>login</key>
		<dict>
			<key>colorLoginBackground</key>
			<string>@clear</string>
			<key>colorLoginText</key>
			<string>@normalText</string>
			<key>colorLoginSubtleButtonText</key>
			<string>@normalText</string>
			<key>colorLoginInputPlaceHolderText</key>
			<string>@impact</string>
			<key>colorLoginInputText</key>
			<string>@impact</string>
			<key>colorLoginActivityIndicator</key>
			<string>@impact</string>
			<key>colorLoginErrorMessages</key>
			<string>@error</string>
			<key>colorLoginImpactButtonText</key>
			<string>@darkest</string>
			<key>colorLoginImpactButtonBG</key>
			<string>@impact</string>
			<key>colorLoginFadedText</key>
			<string>@faded1</string>
			<key>colorLoginFadedLinks</key>
			<string>@faded2</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>colorSettingsBG</key>
			<string>@darkest</string>
			<key>colorSettingsText</key>
			<string>@impact</string>
			<key>colorSettingsSeparator</key>
			<string>@impact</string>
			<key>colorSettingsControlsTint</key>
			<string>@impact</string>
			<key>colorSettingsSectionTitleBG</key>
			<string>@faded2</string>
			<key>colorSettingsSectionTitleText</key>
			<string>@darkest</string>
		</dict>
		<key>stories</key>
		<dict>
			<key>colorStoriesText</key>
			<string>@impact</string>
		</dict>
		<key>me screen</key>
		<dict>
			<key>colorMeText</key>
			<string>@normalText</string>
			<key>colorMeRemakeButtonBG</key>
			<string>@darker</string>
			<key>colorMeRemakeButtonText</key>
			<string>@impact</string>
			<key>colorMeCreateFirstVideoText</key>
			<string>@impact</string>
		</dict>
		<key>story details</key>
		<dict>
			<key>colorSDText</key>
			<string>@impact</string>
			<key>colorSDDescriptionText</key>
			<string>@impact</string>
			<key>colorSDDescriptionBG</key>
			<string>@bright</string>
			<key>colorSDMoreRemakesTitleText</key>
			<string>@impact</string>
			<key>colorSDMoreRemakesTitleBG</key>
			<string>@darker</string>
			<key>colorSDRemakeButtonBG</key>
			<string>@darker</string>
			<key>colorSDRemakeButtonText</key>
			<string>@impact</string>
			<key>colorSDNoRemakesLabel</key>
			<string>@impactSeeThrough</string>
			<key>colorSDRemakeInfoText</key>
			<string>@impact</string>
			<key>colorsArraySDMoreRemakesActivityIndicator</key>
			<array>
				<string>#552C17</string>
				<string>#361915</string>
			</array>
		</dict>
		<key>store</key>
		<dict>
			<key>colorPCNumKeyBG</key>
			<string>@impact</string>
			<key>colorPCNumKeyStroke</key>
			<string>@veryDark</string>
			<key>colorPCNumKeyText</key>
			<string>@veryDark</string>
			<key>colorPCTitle</key>
			<string>@impact</string>
			<key>colorPCText</key>
			<string>@normalText</string>
			<key>colorPCInputText</key>
			<string>@normalText</string>
			<key>colorPCInputBorder</key>
			<string>@normalText</string>
			<key>colorStoreProductTitle</key>
			<string>@normalText</string>
			<key>colorStoreProductDescription</key>
			<string>@impact</string>
			<key>colorStoreProductPrice</key>
			<string>@normalText</string>
			<key>colorStoreProductLine</key>
			<string>@faded3</string>
			<key>colorStoreProductBuyButtonText</key>
			<string>@normalText</string>
			<key>colorStoreProductBuyButtonBG</key>
			<string>@darker</string>
			<key>colorStoreProductBuyButtonStroke</key>
			<string>@bright</string>
		</dict>
	</dict>
	<key>palette</key>
	<dict>
		<key>@clear</key>
		<string>#00000000</string>
		<key>@record</key>
		<string>#AB1723</string>
		<key>@bright</key>
		<string>#C76C2C</string>
		<key>@brightSeeThrough</key>
		<string>#C76C2C88</string>
		<key>@normalText</key>
		<string>#FFFFFF</string>
		<key>@impact</key>
		<string>#FDAE2B</string>
		<key>@impactSeeThrough</key>
		<string>#FDAE2B88</string>
		<key>@darkSeeThrough</key>
		<string>#36191588</string>
		<key>@dark</key>
		<string>#552C17</string>
		<key>@darker</key>
		<string>#351914</string>
		<key>@veryDark</key>
		<string>#1E0E0D</string>
		<key>@darkest</key>
		<string>#000000</string>
		<key>@darkOverlay</key>
		<string>#00000022</string>
		<key>@error</key>
		<string>#FF2523</string>
		<key>@faded1</key>
		<string>#B8B8B8</string>
		<key>@faded2</key>
		<string>#686868</string>
		<key>@faded3</key>
		<string>#949695</string>
	</dict>
</dict>
</plist>
