<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>paletteTest</key>
	<dict>
		<key>@clear</key>
		<string>#00007733</string>
		<key>@darkSeeThrough</key>
		<string>#00FF0066</string>
		<key>@normalText</key>
		<string>#0000FF</string>
		<key>@impact</key>
		<string>#76FF56</string>
		<key>@dark</key>
		<string>#FF2222</string>
		<key>@darkest</key>
		<string>#007700</string>
		<key>@error</key>
		<string>#0025FF</string>
		<key>@faded1</key>
		<string>#FFB8B8</string>
		<key>@faded2</key>
		<string>#FF6868</string>
	</dict>
	<key>fonts</key>
	<dict>
		<key>fontRegular</key>
		<string>Avenir Book</string>
		<key>fontRegularDefaultStrokeSize</key>
		<integer>0</integer>
		<key>fontRegularDefaultStrokeColor</key>
		<string>@clear</string>
		<key>fontBold</key>
		<string>DINOT-CondBold</string>
		<key>fontBoldDefaultStrokeSize</key>
		<string>0</string>
		<key>fontBoldDefaultStrokeColor</key>
		<string>@clear</string>
	</dict>
	<key>colors</key>
	<dict>
		<key>misc</key>
		<dict>
			<key>colorRefreshControlTint</key>
			<string>@impact</string>
		</dict>
		<key>splash</key>
		<dict>
			<key>colorSplashActivityIndicator</key>
			<string>@impact</string>
		</dict>
		<key>navigation</key>
		<dict>
			<key>colorSideNavBarSeparator</key>
			<string>@darkest</string>
			<key>colorSideNavBarOptionText</key>
			<string>@darkest</string>
			<key>colorSideNavBarBG</key>
			<string>@impact</string>
			<key>colorSideNavBarLoginButton</key>
			<string>@normalText</string>
			<key>colorSideNavBarTopContainer</key>
			<string>@darkest</string>
			<key>colorSideNavBarUser</key>
			<string>@impact</string>
			<key>colorNavBarTitle</key>
			<string>@impact</string>
			<key>colorNavBarSeparator</key>
			<string>@dark</string>
			<key>colorNavBarBackground</key>
			<string>@darkSeeThrough</string>
		</dict>
		<key>login</key>
		<dict>
			<key>colorLoginBackground</key>
			<string>@clear</string>
			<key>colorLoginText</key>
			<string>@normalText</string>
			<key>colorLoginSubtleButtonText</key>
			<string>@normalText</string>
			<key>colorLoginInputPlaceHolderText</key>
			<string>@impact</string>
			<key>colorLoginInputText</key>
			<string>@impact</string>
			<key>colorLoginActivityIndicator</key>
			<string>@impact</string>
			<key>colorLoginErrorMessages</key>
			<string>@error</string>
			<key>colorLoginImpactButtonText</key>
			<string>@darkest</string>
			<key>colorLoginImpactButtonBG</key>
			<string>@impact</string>
			<key>colorLoginFadedText</key>
			<string>@faded1</string>
			<key>colorLoginFadedLinks</key>
			<string>@faded2</string>
		</dict>
		<key>settings</key>
		<dict>
			<key>colorSettingsBG</key>
			<string>@darkest</string>
			<key>colorSettingsText</key>
			<string>@impact</string>
			<key>colorSettingsSeparator</key>
			<string>@impact</string>
			<key>colorSettingsControlsTint</key>
			<string>@impact</string>
			<key>colorSettingsSectionTitleBG</key>
			<string>@faded2</string>
			<key>colorSettingsSectionTitleText</key>
			<string>@darkest</string>
		</dict>
	</dict>
	<key>palette</key>
	<dict>
		<key>@clear</key>
		<string>#00000000</string>
		<key>@darkSeeThrough</key>
		<string>#00000066</string>
		<key>@normalText</key>
		<string>#FFFFFF</string>
		<key>@impact</key>
		<string>#FF7656</string>
		<key>@dark</key>
		<string>#222222</string>
		<key>@darkest</key>
		<string>#000000</string>
		<key>@error</key>
		<string>#FF2523</string>
		<key>@faded1</key>
		<string>#B8B8B8</string>
		<key>@faded2</key>
		<string>#686868</string>
	</dict>
</dict>
</plist>
